<div class="row">
    <div class="col-sm-2"></div>
    <div class="jumbotron col-sm-8">
      <h1><sup>The</sup> BIP Blog</h1>
      <p>A collections of thoughts on behavoir management in schools, teacher experiences, and BipHub developement.</p>
      <p><a class="btn btn-primary btn-lg" href="../about.html" role="button">Biphub, huh?</a></p>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <section class="container">
    <h3>Most Recent:</h3>
    <section id="blog-list">
      <div class="media">
        <div class="media-left">
          <a href="c5-feedback.html">
            <img class="media-object blog-list-img" src="http://img3.wikia.nocookie.net/__cb20131009153136/starwars/images/b/bd/Force_Choke_TCG.JPG" alt="force choke image">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Pairing, Feedback, and the Force</h4>
         <p>I have loved working in pairs with other DBC students while learning Ruby, especially on complex challenges. However, some parts of the DBC experience may be turning me into to the darkside, "Noooo! Nooo! *Over acting anguish* NooOooOOoo!"</p>
        </div>
      </div>
    </section>
  </section>