<div class="row">
  <div class="col-sm-2"></div>
  <div class="jumbotron col-sm-8">
    <h1>Published Articles <small>by Adam Fluke</small></h1>
    <p>Here you can find all the articles I have written and published on this site or around the web.</p>
    <p><a class="btn btn-primary btn-lg" href="developer.html" role="button">More About Me</a></p>
  </div>
  <div class="col-sm-2"></div>
</div>
<section class="container">
  <h3>Most Recent:</h3>
  <section class="row">
    <div class="media">
      <div class="media-left">
        <a href="rspec_cheat_sheet.html">
          <img class="media-object blog-list-img" src="https://blog.optimizely.com/wp-content/uploads/2013/06/Screen-Shot-2013-06-11-at-6.27.42-PM.png" alt="RUN A TEST OF ALL THE PAGES image">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Rspec - Structure and Use</h4>
        <p>Rspec is the testing library that is commonly used to test Ruby and Ruby on Rails applications. It was updated recently in versions ~>3.0, so this page will help condence the best-practices from the old library with the new syntax.</p>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="media">
      <div class="media-left">
        <a href="enumerable_cheat_sheet.html">
          <img class="media-object blog-list-img" src="http://image.slidesharecdn.com/insideenumerable-1213186958559360-8/95/inside-enumerable-16-728.jpg?cb=1213161838" alt="Enumberable.collect">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Ruby Enumerables Cheat Sheet</h4>
        <p>An enumerable is a type of Ruby object that has included the enumberable module. They must have a method call each defined for it, and the enumberable module uses that method to complete the methods described below. Not all enumberable classes have the same functions, so check RubyDocs for specific examples.</p>
      </div>
    </div>
  </section>
</section>