<section id="coordinatorInformation">
  <table>
    <tr>
      <td><h3>Name:</h3></td>
      <td><p><%= @coordinator.first_name %> <%= @coordinator.last_name %></p></td>
    </tr>
    <tr>
      <td><h3>Email:</h3></td>
      <td><p><%= @coordinator.email %></p></td>
    </tr>
  </table>
</section>