<h1>School Information:</h1>
<%= render 'shared/school_information' %>
<h1>Your Information:</h1>
<%= render 'shared/user_information' %>
<h1>Students:</h1>
<h1>Special Education Teachers</h1>
<h1>Genderal Education Teachers</h1>
<%= link_to 'Add a teacher', new_school_teacher_path(@school) %>