$white: rgb(236, 240, 241)
$red: rgb(231, 76, 60)
$dark-blue: rgb(44, 62, 80)
$bright-blue: rgb(52, 152, 219)
$muted-blue: rgb(41, 128, 185)

body
  background-color: $white
  color: $dark-blue

.app-wrapper
  padding: 0px