<table>
  <tr>
    <td><h3>Name:</h3></td>
    <td><p><%= @user.first_name %> <%= @user.last_name %></p></td>
  </tr>
  <tr>
    <td><h3>Email:</h3></td>
    <td><p><%= @user.email %></p></td>
  </tr>
</table>