<section class="row">
  <div class="col-sm-6 col-md-5 col-lg-4">
    <h1>Developers:</h1>
    <h2>Adam Fluke</h2>
    <blockquote>
      <p>I develope applications that allow motivated individuals and organizations to leverage technology. At the core of my developement strategy is to focus on creating game-changing solutions for game-changers.</p>
    </blockquote>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-4">
    <img src="imgs/dbc_profile.jpg" alt="Profile picture of Adam Fluke" class="img-responsive img-rounded"/>
  </div>
  <div class=" col-sm-4 col-md-2 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Stat Block</h3></div>
      <div class="panel-body">
        <p><span class="text-info">Location:</span> Berkeley, CA</p>
        <p><span class="text-info">Age:</span> 29 years old</p>
        <p><span class="text-info">Alma mater:</span> Northern Arizona University</p>
        <p><span class="text-info">Quirk:</span> I compete in a trading card game, Magic the Gathering</p>
        <p><span class="text-info">Love:</span> My mother and my wife, in no particular order</p>
      </div>
    </div>
  </div>
</section>