<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <form class="form-horizontal" action = "mailto:fluke.adam@gmail.com" method="post">
          <fieldset>
            <legend class="text-center header">Contact Us</legend>

            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center glyphicon glyphicon-user"></span>
              <div class="col-md-8 contact_field">
                <input id="fname" name="name" type="text" placeholder="First Name" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center glyphicon glyphicon-user"></span>
              <div class="col-md-8 contact_field">
                <input id="lname" name="name" type="text" placeholder="Last Name" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center glyphicon glyphicon-envelope"></span>
              <div class="col-md-8 contact_field">
                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center glyphicon glyphicon-phone"></span>
              <div class="col-md-8 contact_field">
                <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center glyphicon glyphicon-question-sign"></span>
              <div class="col-md-8 contact_field">
                <select class="form-control">
                  <option>Reason</option>
                  <option>More information</option>
                  <option>Be a Beta-tester</option>
                  <option>Sales</option>
                  <option>Media</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <span class="col-md-1 col-md-offset-2 text-center glyphicon glyphicon-pencil"></span>
              <div class="col-md-8 contact_field">
                <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>