<div class="row" id="home-splash">
  <div class="col-sm-2"></div>
  <div class="jumbotron col-sm-8">
    <h1>BipHub</h1>
    <p>A comprehensive digital solution to Behavoir Intervention Data management.</p>
    <p><a class="btn btn-primary btn-lg" href="contact.html" role="button">Learn more</a></p>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row container-fluid info" id="construction-info">
  <div class="col-sm-1"></div>
  <div class="panel panel-default col-sm-4">
    <div class="panel-heading">
      <h2 class="panel-title">Under Developement: Come Back Soon</h2>
    </div>
    <div class="panel-body">
      This website is currently under developement. If you are a teacher or school administrator that is interested in being a beta-tester (for free), fill out the <a href="contact.html">contact us</a> form and select the "Be a beta-tester" option. We will contact you via email when the applicaiton is ready. Thanks!
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <%= image_tag("constructionhat", id: "construction_hat") %>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row container-fluid info" id="home-info">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <%= image_tag("ideablackboard", id: "ideablackboard") %>
  </div>
  <div class="col-sm-1"></div>
  <div class="panel panel-default col-sm-5">
    <div class="panel-heading">
      <h2 class="panel-title">BipHub is comprehensive solution</h2>
    </div>
    <div class="panel-body">
      BipHub is designed to make gathering, storing, interpreting, and reporting Behavoir Intervention efficient and accurate. It reduces the frustration general education teachers feel about keeping track of another peice of paper, or not being able to give meaningful feedback. It increases the accuracy of the data collected because data can't be lost, or incomplete. Educators are empowered to make effective plan decisions through a user friendly graphing and report suite.
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>


