<div class="row">
  <div class="col-sm-1"></div>
  <div class="panel panel-default col-sm-10" id="termsandconditions">
    <div class="panel-heading">
      <h2 class="panel-title">Website Terms and Conditions of Use</h2>
    </div>
    <div class="panel-body">
      <h3>Introduction</h3>
      <p>These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full.   If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.</p>
      <p>You must be at least 18 years of age to use this website.  By using this website and by agreeing to these terms and conditions, you warrant and represent that you are at least 18 years of age.</p>
      <p>This website uses cookies.  By using this website and agreeing to these terms and conditions, you consent to our BipHub's use of cookies in accordance with the terms of BipHub's privacy policy.</p>
      <h3>License to use website</h3>
      <p>Unless otherwise stated, BipHub and/or its licensors own the intellectual property rights in the website and material on the website.  Subject to the license below, all these intellectual property rights are reserved.</p>
      <p>You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>
      <h4>You must not:</h4>
      <ul>
        <li>republish material from this website (including republication on another website);</li>
        <li>sell, rent or sub-license material from the website;</li>
        <li>show any material from the website in public;</li>
        <li>reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;</li>
        <li>edit or otherwise modify any material on the website; or</li>
        <li>redistribute material from this website, except for content specifically and expressly made available for redistribution.</li>
      </ul>
      <h3>Acceptable use</h3>
      <p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>
      <p>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p>
      <p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without BipHub's express written consent.</p>
      <p>You must not use this website to transmit or send unsolicited commercial communications.<p>
      <p>You must not use this website for any purposes related to marketing without BipHub's express written consent.</p>
      <h3>Restricted access</h3>
      <p>Access to certain areas of this website is restricted.  BipHub reserves the right to restrict access to any area of this website, or indeed this entire website, at BipHub's discretion.</p>
      <p>If BipHub provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential.</p>
      <p>BipHub may disable your user ID and password in BipHub's sole discretion without notice or explanation.</p>
      <h3>User content</h3>
      <p>In these terms and conditions, “your user content” means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.</p>
      <p>You grant to BipHub a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media.  You also grant to BipHub the right to sub-license these rights, and the right to bring an action for infringement of these rights.</p>
      <p>Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or BipHub or a third party (in each case under any applicable law).</p>
      <p>You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</p>
      <p>BipHub reserves the right to edit or remove any material submitted to this website, or stored on BipHub's servers, or hosted or published upon this website.</p>
      <p>Notwithstanding BipHub's rights under these terms and conditions in relation to user content, BipHub does not undertake to monitor the submission of such content to, or the publication of such content on, this website.</p>
      <h3>No warranties</h3>
      <p>This website is provided “as is” without any representations or warranties, express or implied. BipHub makes no representations or warranties in relation to this website or the information and materials provided on this website.</p>
      <p>Without prejudice to the generality of the foregoing paragraph, BipHub does not warrant that:</p>
      <ul>
        <li>this website will be constantly available, or available at all; or</li>
        <li>the information on this website is complete, true, accurate or non-misleading.<li>
      </ul>
      <p>Nothing on this website constitutes, or is meant to constitute, advice of any kind. If you require advice in relation to any legal, financial or medical matter you should consult an appropriate professional.</p>
      <h3>Limitations of liability</h3>
      <p>BipHub will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>
      <ul>
        <li>to the extent that the website is provided free-of-charge, for any direct loss;</li>
        <li>for any indirect, special or consequential loss; or</li>
        <li>for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</li>
      </ul>
      <p>These limitations of liability apply even if BipHub has been expressly advised of the potential loss.</p>
      <h3>Exceptions</h3>
      <p>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit BipHub's liability in respect of any:</p>
      <ul>
        <li>death or personal injury caused by BipHub's negligence;</li>
        <li>fraud or fraudulent misrepresentation on the part of BipHub; or</li>
        <li>matter which it would be illegal or unlawful for BipHub to exclude or limit, or to attempt or purport to exclude or limit, its liability.</li>
      </ul>
      <h3>Reasonableness</h3>
      <p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</p>
      <p>If you do not think they are reasonable, you must not use this website.</p>
      <h3>Other parties</h3>
      <p>You accept that, as a limited liability entity, BipHub has an interest in limiting the personal liability of its officers and employees.  You agree that you will not bring any claim personally against BipHub's officers or employees in respect of any losses you suffer in connection with the website.<p>
      <p>Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect BipHub's officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as BipHub.</p>
      <h3>Unenforceable provisions</h3>
      <p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>
      <h3>Indemnity</h3>
      <p>You hereby indemnify BipHub and undertake to keep BipHub indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by BipHub to a third party in settlement of a claim or dispute on the advice of BipHub's legal advisers) incurred or suffered by BipHub arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.</p>
      <h3>Breaches of these terms and conditions</h3>
      <p>Without prejudice to BipHub's other rights under these terms and conditions, if you breach these terms and conditions in any way, BipHub may take such action as BipHub deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p>
      <h3>Variation</h3>
      <p>BipHub may revise these terms and conditions from time-to-time.  Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website.  Please check this page regularly to ensure you are familiar with the current version.</p>
      <h3>Assignment</h3>
      <p>BipHub may transfer, sub-contract or otherwise deal with BipHub's rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p>
      <p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.</p>
      <h3>Severability</h3>
      <p>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.  If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.</p>
      <h3>Entire agreement</h3>
      <p>These terms and conditions, together with our Privacy Policy and License, constitute the entire agreement between you and BipHub in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</p>
      <h3>Law and jurisdiction</h3>
      <p>These terms and conditions will be governed by and construed in accordance with California State Law, and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of the State of California.</p>
      <h3>BipHub's details</h3>
      <p>BipHub is owned and operated by Adam Fluke.</p>
      <p>BipHub's address is 3001 Telegraph Ave, Apt. 502, Berkeley, CA 94705.</p>
      <p>You can contact BipHub by email to contact@biphub.com.</p>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="panel panel-default col-sm-10" id="privacy">
    <div class="panel-heading">
      <h2 class="panel-title">Privacy Policy</h2>
    </div>
    <div class="panel-body">
      <p>PRIVACY STATEMENT<p>
      <p>Your privacy is important to BipHub.  This privacy statement provides information about the personal information that BipHub collects, and the ways in which BipHub uses that personal information.</p>
      <h3>Personal information collection</h3>
      <p>BipHub may collect and use the following kinds of personal information:</p>
      <ul>
        <li>information about your use of this website (including [INSERT DETAILS]);]</li>
        <li>information that you provide using for the purpose of registering with the website (including [INSERT DETAILS]);]</li>
        <li>information about transactions carried out over this website (including [INSERT DETAILS]);</li>
        <li>information that you provide for the purpose of subscribing to the website services (including [INSERT DETAILS]); and</li>
        <li>any other information that you send to BipHub.</li>
      </ul>
      <h3>Using personal information</h3>
      <p>BipHub may use your personal information to:</p>
      <ul>
        <li>administer this website;</li>
        <li>personalize the website for you;</li>
        <li>enable your access to and use of the website services;</li>
        <li>publish information about you on the website;</li>
        <li>send to you products that you purchase;</li>
        <li>supply to you services that you purchase;</li>
        <li>send to you statements and invoices;</li>
        <li>collect payments from you; and</li>
        <li>send you marketing communications.</li>
      </ul>
      <p>Where BipHub discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy statement.</p>
      <p>In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, BipHub may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.</p>
      <h3>Securing your data</h3>
      <p>BipHub will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.</p>
      <p>BipHub will store all the personal information you provide on its secure servers.</p>
      <p>Information relating to electronic transactions entered into via this website will be  protected by encryption technology.</p>
      <h3>Cross-border data transfers</h3>
      <p>Information that BipHub collects may be stored and processed in and transferred between any of the countries in which BipHub operates to enable the use of the information in accordance with this privacy policy.</p>
      <p>In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.</p>
      <p>You agree to such cross-border transfers of personal information.</p>
      <h3>Updating this statement</h3>
      <p>BipHub may update this privacy policy by posting a new version on this website.</p>
      <p>You should check this page occasionally to ensure you are familiar with any changes.</p>
      <h3>Other websites</h3>
      <p>This website contains links to other websites.</p>
      <p>BipHub is not responsible for the privacy policies or practices of any third party.</p>
      <h3>Contact BipHub</h3>
      <p>If you have any questions about this privacy policy or BipHub's treatment of your personal information, please write:</p>
      <p>by email to contact@biphub.com; or</p>
      <p>by post to 3001 Telegraph Ave. Apt 502, Berkeley, CA 94705.</p>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="panel panel-default col-sm-10" id="license">
    <div class="panel-heading">
      <h2 class="panel-title">License</h2>
    </div>
    <div class="panel-body">
      <h3>The Modified Artistic License</h3>
      <h3>Preamble</h3>
      <p>The intent of this document is to state the conditions under which a Package may be copied, such that the Copyright Holder maintains control over the development of the package, while giving the users of the package the right to use and distribute the Package in a more-or-less customary fashion, plus the right to make reasonable modifications.</p>
      <h3>Definitions:</h3>
      <p>"Package" refers to the collection of files distributed by the Copyright Holder, and derivatives of that collection of files created through textual modification.</p>
      <p>"Standard Version" refers to such a Package if it has not been modified, or has been modified in accordance with the wishes of the Copyright Holder as specified below.</p>
      <p>"Copyright Holder" is whoever is named in the copyright or copyrights for the package.</p>
      <p>"You" is you, if you're thinking about copying or distributing this Package.</p>
      <p>"Distribution fee" is a fee you charge for providing a copy of this Package to another party.</p>
      <p>"Freely Available" means that no fee is charged for the right to use the item, though there may be fees involved in handling the item. It also means that recipients of the item may redistribute it under the same conditions they received it.</p>
      <ol>
        <li>You may make and give away verbatim copies of the source form of the Standard Version of this Package without restriction, provided that you duplicate all of the original copyright notices and associated disclaimers.</li>
        <li>You may apply bug fixes, portability fixes and other modifications derived from the Public Domain, or those made Freely Available, or from the Copyright Holder. A Package modified in such a way shall still be considered the Standard Version.</li>
        <li>You may otherwise modify your copy of this Package in any way, provided that you insert a prominent notice in each changed file stating how and when you changed that file, and provided that you do at least ONE of the following:</li>
        <ol>
          <li>place your modifications in the Public Domain or otherwise make them Freely Available, such as by posting said modifications to Usenet or an equivalent medium, or placing the modifications on a major network archive site allowing unrestricted access to them, or by allowing the Copyright Holder to include your modifications in the Standard Version of the Package.</li>
          <li>use the modified Package only within your corporation or organization.</li>
          <li>make other distribution arrangements with the Copyright Holder.</li>
          <li>permit and encourge anyone who receives a copy of the modified Package permission to make your modifications Freely Available in some specific way.</li>
        </ol>
        <li>You may not charge a distribution fee for any distribution of this Package. If you offer support for this Package, you may not charge any fee for that support. You may not charge a license fee for the right to use this Package itself. You may not distribute this Package in aggregate with other (possibly commercial and possibly nonfree) programs as part of a larger (possibly commercial and possibly nonfree) software distribution.</li>
        <li>Aggregation of the Standard Version of the Package with a commercial distribution is never permitted. Such use shall be construed as a distribution of this Package.</li>
        <li>The name of the Copyright Holder may not be used to endorse or promote products derived from this software without specific prior written permission.</li>
        <li>THIS PACKAGE IS PROVIDED "AS IS" AND WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTIBILITY AND FITNESS FOR A PARTICULAR PURPOSE.</li>
      </ol>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>