<section class="container" id="projects">
  <div class="row">
    <h1 class="text-center bg-primary text-white">Projects:</h1>
    <h2>I have been either independently developed or been involved in developing the several production applications. My favorite experience was creating WriteFast (project one) during a two day hackathon, and winning the Meaningful catagory with an amazing team.</h2>
  </div>
  <div class="row">
    <div class="project-summary panel panel-default col-sm-6">
      <div class="panel-heading">
        <div class="panel-title">
          <h3>Project One: WriteFast</h3>
        </div>
      </div>
      <div class="panel-body">
        <img class="img img-rounded img-responsive" src="imgs/writefast-display.png" alt="Screenshot of the original WriteFast"/>
        <a href="http://writefast.heroku.com" alt="Writefast website">See Live</a>
        <p>The creation of WriteFast 1.0 was a miracle to be a part of. A team of six junoir developers came together with a single purpose, to make a free predictive text writing platform to help students learn to write sentences, paragraphs, and more. I learned so much about dividing up area's of responsiblity, Bootstrap, Sinatra, and Jquery plugins.</p>
      </div>
    </div>
    <div class="project-summary panel panel-default col-sm-6">
      <div class="panel-heading">
        <div class="panel-title">
          <h3>Project Two: BipHub</h3>
        </div>
      </div>
      <div class="panel-body">
        <img src="imgs/BipHub.png" alt="Screenshot of the Biphub homepage" class="img img-rounded img-responsive"/>
        <p>The BipHup website is an ongoing developement project. The challenge of delivering real-time behavoir data to teachers, and school leaders requires an ever growing technology stack that currently includes HTML5/CSS/Bootstrap.</p>
      </div>
    </div>
  </div>
</section>