<section id="goalInformation">
  <h1>Goal</h1>
  <p>Student: <%= @student.id %></p>
  <p>Goal Text: <%= @goal.text %></p>
  <p>Prompt: <%= @goal.prompt %></p>
  <p>Type: <%= @goal.meme %></p>
</section>
